<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <dllmap dll="OriginalLibraryName" target="libRemappingTests.so" os="!windows,osx"/>
  <dllmap dll="OriginalLibraryName" target="RemappingTests.dll" os="windows"/>
  <dllmap dll="OriginalLibraryName" target="libRemappingTests.dylib" os="osx"/>
</configuration>
