<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dllmap" type="System.Configuration.IgnoreSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <dllmap dll="OriginalLibraryName" target="libRemappingTests.so" os="!windows,osx"/>
  <dllmap dll="OriginalLibraryName" target="RemappingTests.dll" os="windows"/>
  <dllmap dll="OriginalLibraryName" target="libRemappingTests.dylib" os="osx"/>
</configuration>
